<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.mial.training.bpp.InjectRandomBeanPostProcessor"/>
    <bean class="org.mial.training.bpp.RunThisMethodBeanPostProcessor"/>
    <bean class="org.mial.training.bpp.TransactionBeanPostProcessor"/>
    <bean class="org.mial.training.bpp.BenchmarkBeanPostProcessor"/>

    <bean class="org.mial.training.bfpp.WarningBeanFactoryPostProcessor"/>
    <bean class="org.mial.training.bfpp.DeprecationHandlerBeanFactoryPostProcessor"/>

    <bean class="org.mial.training.dataart.DataartServiceImpl"/>

    <bean class="org.mial.training.robot.TalkingRobotImpl" init-method="talk">
        <property name="quoters">
            <list>
                <ref bean="shakespearQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </property>
    </bean>

    <bean id="shakespearQuoter" class="org.mial.training.quoter.impl.ShakespearQuoter" scope="prototype" destroy-method="destroyMethodName">
        <property name="message" value="2 b || ! 2 b"/>
    </bean>

    <bean id="terminatorQuoter" class="org.mial.training.quoter.impl.TerminatorQuoter">
        <property name="messages">
            <list>
                <value>I'll be back</value>
                <value>You are terminated</value>
                <value>Astalavista baby</value>
            </list>
        </property>
    </bean>
</beans>